.container{
    width: 100%;
    text-align: center;
}

body{
      background-color: #EAEAEA;
      margin: 0px;
  }

#header{
    background-color: white;
    overflow: hidden;
}

.publicacion{
    width: 50%;
    height: auto;
    background-color:white;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.number{
    color: gray;
    float: right;
    padding-right: 20px;
}

.title{
    float: left;
    padding-left: 20px;
}

img{
    width: 100%;
}

.comentario{
    text-align: left;
    padding: 0px 20px 0px 20px;
}
